@page "/"
@using SeizureTrackerUI.Models
@inject HttpClient Http

<PageTitle>Seizure Tracker</PageTitle>

<h1>CareGivers</h1>

@if (caregivers is not null)
{
    @foreach(var caregiver in caregivers)
    {
        <a href="@caregiver">
            <div class="caregiver-card">
                <h2>@caregiver.FirstName @caregiver.LastName</h2>
                <p>Email: @caregiver.Email</p>
            </div>
        </a>
    }
}

@code {
    private List<CareGiverModel>? caregivers;
    protected override async Task OnInitializedAsync()
    {
        caregivers = await Http.GetFromJsonAsync<List<CareGiverModel>>("https://localhost:7079/caregivers");
    }
}
