@page "/"

<PageTitle>Seizure Tracker</PageTitle>

<h1>Welcome to Seizure Tracker</h1>

@code {
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
